/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    padding:0px;
    margin:0px;
    background-color:#bada55;
}
#mainCanvas{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;    
    right:10px;
    padding:0px;
    margin:0px;
    background-color:#2b2b2b;
}
#btnBar{
    position:absolute;
    left:10px;
    bottom:10px;    
    right:10px;
    padding:0px;
    margin:0px;
    align-content: center;
}
button
{
    -webkit-box-shadow: inset 0px 1px 0px 0px #f8fee6;
    -moz-box-shadow: inset 0px 1px 0px 0px #f8fee6;
    box-shadow: inset 0px 1px 0px 0px #f8fee6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1d7bc), color-stop(1, #BADA55));
    background: -webkit-linear-gradient(top, #d1d7bc 5%, #BADA55 100%);
    background: -moz-linear-gradient(top, #d1d7bc 5%, #BADA55 100%);
    background: -ms-linear-gradient(top, #d1d7bc 5%, #BADA55 100%);
    background: -o-linear-gradient(top, #d1d7bc 5%, #BADA55 100%);
    background: linear-gradient(to bottom, #d1d7bc 5%, #BADA55 100%);
    background-color: #BADA55;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83a120;
    display: inline-block;
    cursor: pointer;
    color: #000;
    width: auto;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #83a120;
}

button:hover
{
    color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #BADA55), color-stop(1, #d1d7bc));
    background: -webkit-linear-gradient(top, #BADA55 5%, #d1d7bc 100%);
    background: -moz-linear-gradient(top, #BADA55 5%, #d1d7bc 100%);
    background: -ms-linear-gradient(top, #BADA55 5%, #d1d7bc 100%);
    background: -o-linear-gradient(top, #BADA55 5%, #d1d7bc 100%);
    background: linear-gradient(to bottom, #BADA55 5%, #d1d7bc 100%);
    background-color: #BADA55;
    width: auto;
}

button:active
{
    position: relative;
    top: 1px;
    left: 1px;
    width: auto;
}